{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block info %}
<title></title>
<meta name="description" content="">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{% block ld_json %}
{% endblock %}


{% block content %}
{% translate "Blog jurídico" as heromintitle %}
{% translate "Atualizações" as heroTitle %}
{% translate "Conteúdo jurídico em linguagem acessível para manter você informado sobre seus direitos." as heroText %}
{% include 'components/_hero.html' %}

{% if featured_post %}
{% include 'blog/components/_featured_post.html' %}
{% endif %}

{% include 'blog/components/_filter_list_blog.html' %}

{% include 'blog/components/_list_blog.html' %}

{% include 'blog/components/_paginated_list_blog.html' %}



{% translate "Agende sua consulta com segurança e clareza" as ctaTitle %}
{% translate "Atendimento direto, orientação objetiva e estratégia personalizada para o seu caso." as ctaText %}
{% include "components/_cta_final.html" with ctaTitle=ctaTitle ctaText=ctaText %}

{% endblock %}


{% block scripts %}
{% endblock %}