{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block info %}
<title>{{ meta_title }}</title>
{% if meta_description %}
<meta name="description" content="{{ meta_description }}">
{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
{% endblock %}

{% block ld_json %}
{% include 'blog/components/_ld_json_blog_details.html' %}
{% endblock %}

{% block content %}

<!-- COVER + CONTENT -->
{% include 'blog/components/_blog_details.html' %}

<!-- RELATED POSTS -->
{% include 'blog/components/_related_posts_details.html' %}

<!-- CALL TO ACTION FINAL -->
{% include 'blog/components/_cta_final_blog_details.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}