{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block info %}
<title>{% translate "Blog Jurídico em São José SC | Direito Bancário, Previdenciário e Sucessões" %}</title>
<meta name="description" content="{% translate 'Artigos jurídicos em São José - SC sobre Direito Bancário, Previdenciário e Sucessões. Conteúdo claro para orientar você sobre seus direitos.' %}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{% block ld_json %}
{% include 'json/_ld_json_blog_list.html' %}
{% endblock %}


{% block content %}
{% translate "Blog Jurídico" as heromintitle %}
{% translate "Conteúdo jurídico atualizado em São José - SC" as heroTitle %}
{% translate "Artigos sobre Direito Bancário, Previdenciário e Sucessões, com explicações claras para orientar você sobre seus direitos e decisões jurídicas." as heroText %}
{% include 'components/_hero.html' %}

{% if featured_post %}
{% include 'blog/components/_featured_post.html' %}
{% endif %}

{% include 'blog/components/_filter_list_blog.html' %}

{% include 'blog/components/_list_blog.html' %}

{% include 'blog/components/_paginated_list_blog.html' %}



{% translate "Precisa de orientação jurídica em São José - SC?" as ctaTitle %}
{% translate "Fale agora e receba atendimento estratégico em Direito Bancário, Previdenciário ou Sucessões." as ctaText %}
{% include "components/_cta_final.html" with ctaTitle=ctaTitle ctaText=ctaText %}

{% endblock %}


{% block scripts %}
{% endblock %}