{% extends 'lp/lp_base.html' %}
{% load i18n %}

{% block body_class %}lp-page lp-page--bank{% endblock %}

{% block info %}
    <title>
        {% translate "Advogado em São José SC | Bancário, Previdenciário, Sucessões e Migratório" %}
    </title>
    <meta name="description" content="{% translate 'Advogado em São José - SC com atuação em Direito Bancário, Previdenciário, Sucessões e Direito Migratório para residência e naturalização no Brasil.' %}">
{% endblock %}

{% block ld_json %}
{% include 'json/_ld_json_home.html' %}
{% endblock %}

{% block content %}
{% include 'lp/components/_hero.html' %}
{% include 'lp/components/_help.html' %}
{% include 'lp/components/_process.html' %}
{% include 'lp/components/_about.html' %}
{% include 'lp/components/reviews.html' %}
{% include 'lp/components/_faq.html' %}
{% endblock %}

{% block floating_actions %}
{% include 'lp/components/_whats_button.html' %}
{% endblock %}
