{% extends 'lp/lp_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block body_class %}lp-page lp-page--bank{% endblock %}

{% block info %}
    <title>
        {% translate "Advogado em São José SC | Bancário, Previdenciário, Sucessões e Migratório" %}
    </title>
    <meta name="description" content="{% translate 'Advogado em São José - SC com atuação em Direito Bancário, Previdenciário, Sucessões e Direito Migratório para residência e naturalização no Brasil.' %}">
{% endblock %}

{% block ld_json %}
{% include 'json/_ld_json_home.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/lp_bank.css' %}">
{% endblock %}


{% block content %}
{% include 'lp/components/_hero.html' %}
{% include 'lp/components/bank/_help.html' %}
{% include 'lp/components/bank/_process.html' %}
{% include 'lp/components/bank/_about.html' %}
{% endblock %}

{% block floating_actions %}
{% include 'lp/components/_whats_button.html' %}
{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/lp_bank.js' %}"></script>
{% endblock %}
