{% extends 'lp/lp_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block body_class %}lp-page lp-page--bank{% endblock %}

{% block info %}
    <title>
        {% translate "Advogado em São José SC | Bancário, Previdenciário, Sucessões e Migratório" %}
    </title>
    <meta name="description" content="{% translate 'Advogado em São José - SC com atuação em Direito Bancário, Previdenciário, Sucessões e Direito Migratório para residência e naturalização no Brasil.' %}">
{% endblock %}

{% block ld_json %}
{% include 'json/_ld_json_home.html' %}
{% endblock %}



{% block content %}

{% endblock %}
