{% extends 'base_site.html' %}
{% load static %}

{% block body_class %}page-home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home_site.css' %}">
{% endblock %}

{% block ld_json %}
{% endblock %}


{% block content %}

{% include 'home/components/_hero_home.html' %}

{% include 'home/components/_areas_home.html' %}

{% include 'home/components/_about_home.html' %}

{% include 'home/components/_assessment_home.html' %}


{% endblock %}

{% block scripts %}
<script src="{% static 'js/home_site.js' %}"></script>
{% endblock %}
