{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block body_class %}page-home{% endblock %}

{% block info %}
    <title>
        {% translate "Advogado em São José SC | Bancário, Previdenciário, Sucessões e Migratório" %}
    </title>
    <meta name="description" content="{% translate 'Advogado em São José - SC com atuação em Direito Bancário, Previdenciário, Sucessões e Direito Migratório para residência e naturalização no Brasil.' %}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home_site.css' %}">
{% endblock %}

{% block ld_json %}
{% include 'json/_ld_json_home.html' %}
{% endblock %}



{% block content %}

{% include 'home/components/_hero_home.html' %}

{% include 'home/components/_areas_home.html' %}

{% include 'home/components/_about_home.html' %}

{% include 'home/components/_faq_home.html' %}

{% translate "Precisa de advogado em São José - SC?" as ctaTitle %}
{% translate "Atendimento direto, análise estratégica e orientação clara para seu caso jurídico em São José e região." as ctaText %}
{% include "components/_cta_final.html" with ctaTitle=ctaTitle ctaText=ctaText %}

{% endblock %}



{% block scripts %}
<script src="{% static 'js/home_site.js' %}"></script>
{% endblock %}