{% extends 'base_site.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block ld_json %}
{% endblock %}


{% block content %}
<h1 class="text-gold">Jorge R. Sarobe</h1>
<p class="small-caps">Assessoria e consultoria jurídica</p>


<div class="card-min">
    <h3>Direito Bancário</h3>
    <p>Atuação estratégica em demandas bancárias e renegociação.</p>
    <a class="btn-min btn-outline-gold" href="#contato">Falar agora</a>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}